<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Task Manager">
        <ng-template ngbPanelContent>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Task" aria-label="task"
                    aria-describedby="basic-addon1" [(ngModel)]="task.title">
            </div>

            <div class="container" style="text-align: center;">

                <button type="button" class="btn btn-primary" (click)="addTask()" style="margin: 5px;">Add Task</button>

                <button type="button" class="btn btn-warning" (click)="clearTask()" style="margin: 5px;">Clear</button>

            </div>

        </ng-template>
    </ngb-panel>
</ngb-accordion>